# Flask Framework
flask
gunicorn

openai

langchain>=0.1.16
langchain-openai>=0.1.7
langchain-community>=0.0.32
chromadb>=0.4.24
pydantic>=2.5.0
openai>=1.10.0 
python-dotenv
langchain_chroma
dotenv
pydantic